/* Dashboard.module.css */

.dashboardContainer {
    /* display: flex; */
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    padding: 40px;
    background-color: #f4f5f7;
}

.navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
}

.title {
    color: #333;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
}

.logoutButton {
    color: #FFF;
     background-color: #6551be;
    border: none;
    border-radius: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logoutButton:hover {
    background-color: #2B3674;
}

.navSide {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 10px;
}

.navItem {
    display: flex;
    align-items: center;
    margin: 8px 0;
    text-decoration: none;
    color: #333;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.32px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: #4318FF;
}

/* Aturan gaya untuk mengubah warna isi dalam ikon SVG */
.icon svg path {
   fill: #4318FF;
}

.dashboardContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.userProfile {
    display: flex;
    justify-content: flex-end;
}

.userProfile span {
    font-weight: 700;
    font-size: 28px;
}

.tableContainer {
    padding: 5px;
}

.tableContainer table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    color: #636363;
}

.tableContainer th,
.tableContainer td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.tableContainer th {
    background-color: #f2f2f2;
}

.dataFlex {
    display: flex;
}

/* Responsiveness */
@media (max-width: 768px) {
    .dashboardContainer {
        padding: 20px;
    }

    .navSide {
        width: 100%;
        margin-right: 0;
    }

    .dashboardContent {
        width: 100%;
    }

    .dataFlex {
    display: flex;
    flex-direction: column;
}
}
